@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #80cc28;
  --color-primary-light: #b1e476;
  --color-text: #000;
  --color-text-dark: #000;
  --color-background-100: #ffffff;
  --color-background-500: #ffffff;
  --color-background-900: #ffffff;
  --color-red: #fa5252;
  --color-red-dark: #e03131;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 80%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--color-text);
  background-color: var(--color-background-900);
  max-width: 100%;
  margin: 6rem auto auto auto !important;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.prose p {
  animation: fadeIn 0.5s ease-out forwards;
}

.prose p:nth-child(1) {
  animation-delay: 0.1s;
}
.prose p:nth-child(2) {
  animation-delay: 0.2s;
}
.prose p:nth-child(3) {
  animation-delay: 0.3s;
}
.prose p:nth-child(4) {
  animation-delay: 0.4s;
}
.prose p:nth-child(5) {
  animation-delay: 0.5s;
}
